* {
    margin: 0px;
    padding: 5px;
}

body {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: hsla(228, 45%, 44%, 0.22);
}

.main {
    border-radius: 10px;
    width: 26%;
    background-color: aliceblue;
    text-align: center
}
h1{
    font-size: 25px;
}
p{
    
    font-size: 20px;
    font-family:sans-serif;
}
img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.img {
    overflow: hidden;

}